django
djangorestframework
markdown
django-filter
qdrant-client
transformers 
# torch 
langchain 
faiss-cpu
langchain-huggingface
langchain-qdrant
langchain-groq
langchain[groq]
dotenv
langchain-ollama
langchain-community
faiss-cpu
pypdf
langchainhub
pymupdf